<h1 class="ui header">アンケート内容編集<button class="ui red button right floated del" data-sid="<%= @survey.id %>"><i class="trash outline icon"></i> 削除</button></h1>
<% if @survey.errors.present? %>
<div class="ui negative icon message">
    <i class="warning icon"></i>
    <i class="close icon"></i>
    <div class="content">
        <div class="header">
        </div>
      <%= error_messages_for(@survey) %>
    </div>
</div>
<% end %>

<% form_tag url(:survey, :edit, :id => @survey.id), :class => 'ui form' do %>
<h4 class="ui horizontal divider header">
  <i class="file text outline icon"></i>
  アンケート情報
</h4>
<% error = @survey.errors.include?(:name) %>
<div class="field<%= error ? ' error' : '' %>">
  <label>アンケート名</label>
  <input name="name" placeholder="アンケート名" type="text" value="<%= @survey.name %>">
</div>

<h4 class="ui horizontal divider header">
  <i class="comment icon"></i>
  質問
</h4>
<div id="add-q-pos"></div>
<div class="field">
  <div class="ui primary fluid button add-q">
    <i class="plus icon"></i>
    質問追加</div>
</div>
<button class="ui submit right floated positive button" type="submit"><i class="save icon"></i> 更新</button>
<% end %>
<script id="q-tmpl" type="text/x-handlebars-template">
  <div class="ui clearing segment" id="q-{{id}}">
    <div class="field {{text_error_class}}">
      <label>質問</label>
      <input name="question[][text]" placeholder="質問" type="text" value="{{text}}">
    </div>
    <div class="field">
      <label>回答パターン</label>
      <select name="question[][type]">
        {{#select type}}
        <option value="single">選択肢（1つ）</option>
        <option value="multiple">選択肢（複数）</option>
        <option value="date">日程調整</option>
        <option value="free">フリーフォーマット</option>
        {{/select}}
      </select>
    </div>
    <div class="field {{value_error_class}}">
      <label>値</label>
      <textarea name="question[][value]">{{value}}</textarea>
    </div>
    <div class="field">
      <div class="ui right floated red basic button del-q" data-id="{{id}}"><i class="trash outline icon"></i> 削除</div>
    </div>
  </div>
</script>
<div class="ui small basic test modal del">
  <div class="ui icon header">
    <i class="trash outline icon"></i>
    アンケート削除
  </div>
  <div class="content">
    <p>アンケートを削除すると結果も削除され、2度と見ることが出来なくなります。</p>
  </div>
  <div class="actions">
    <div class="ui basic cancel inverted button">
      <i class="remove icon"></i>
      キャンセル
    </div>
    <div class="ui red ok inverted button">
      <i class="checkmark icon"></i>
      削除
    </div>
  </div>
</div>
<%= javascript_include_tag 'survey' %>
<script>$(function() {$(<%= @survey.questions.as_json(:methods => [:error_class, :text_error_class, :value_error_class]).to_json.html_safe %>).each(function(i, v) {Survey.question.add(v);});});</script>
